In [ ]:
import pandas as pd
import numpy as np

In [ ]:
dataset=pd.read_csv('/content/sample_data/Mall_Customers.csv')

In [ ]:
dataset.head()

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

**preprocessing the data**

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
scalar=StandardScaler()
scalar.fit(dataset.drop('Genre',axis=1))

StandardScaler()

In [ ]:
s1=scalar.transform(dataset.drop('Genre',axis=1))

In [ ]:
new=pd.DataFrame(s1,columns=dataset.columns[1:])

**training and testing**

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x=new
y=dataset['Genre']

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=30)

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
classifier=KNeighborsClassifier(n_neighbors=1)

In [ ]:
classifier.fit(x_train,y_train)

KNeighborsClassifier(n_neighbors=1)

In [ ]:
predict=classifier.predict(x_test)

In [ ]:
from sklearn.metrics import classification_report,accuracy_score

In [ ]:
print(classification_report(y_test,predict))

              precision    recall  f1-score   support

      Female       0.69      0.68      0.68        37
        Male       0.50      0.52      0.51        23

    accuracy                           0.62        60
   macro avg       0.60      0.60      0.60        60
weighted avg       0.62      0.62      0.62        60

In [ ]:
print(accuracy_score(y_test,predict))

0.6166666666666667